__pycache__/
*.pyc
old/*
tmp/*
.env
errors.txt
prompt.txt
python_modules/prompt.txt
output_gpt.txt
.vscode/
.vscode/*
output/*
python_modules/graphs.ipynb
Figures/*
work_in_progress/*
extra_problems/*